.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.UserContainer {
  background-color: #ddd;
  padding: 20px;
  border-radius: 15px;
  height: 90vh;
  width: 950px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.AddUserButton {
  background-color: #3366ff;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 34px;
  font-weight: bold;
  padding: 10px;
}

.AddUserButton:hover {
  background-color: #274bdb;
  cursor: pointer;
}

.Users {
  height: 83%;
  background-color: #f2f6ff;
  border-radius: 15px;
  padding: 10px;
}

p {
  margin: 0;
}
